# Node.js dependencies
node_modules/

# Environment files
.env
.env.local

# Build artifacts
build/
dist/
public/build/

# IDE-specific files
.idea/
.vscode/

# Log files
*.log

# Operating System files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*.swo

# Testing
coverage/

# Dotfiles (can be added as needed)
.npmrc